*
{  
    padding: 0;
    margin: 0;
}
.domen
{
    background-color: #0000CD;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}
/* menu bar style*/
.menu-bar
{
    background:#0000CD;
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #0000FF;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu-1
{z-index: 1;
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background-color: #0000CD;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid gray;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: aqua;
}
.fa-angle-right
{
    float: right;
}
.sub-menu-2
{
z-index: 1;
 display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: 40px;
    margin-left: 140px;
    background: #0000CD;
}
/*end of menu bar style*/
.btn
{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 15px; 
    background-color: green;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
   
}
.btn:hover{background-color: #3f1f1f;}

.we
{
text-align: center;
background-color: #0000CD;
color: #fff;
}
.welcome
{
  text-align: center;
  padding: 15px;
  margin: 50px;
  background-color: #351212;
  color: #fff;
  width: 100%;
  font-size: 30px;
  border-radius: 10px;
}
/* coin introduction*/
.introcoin 
{
 text-align: center;
 font-size: 50px;
 color: #000;
 padding: 20px;
 margin: 20px;
}
.img-wallet-buy
{
  float: right;
  margin-right: 200px;
  
}
/* coin style*/
.coin
{
  margin-left: 100px; 
  list-style: none;
}
/* coin style*/
 .coin li 
 {
  text-align: center;
  font-size: 25px;
  background: #4343ce;
  color: #fff;
  width: 350px;
  margin: 30px;
  padding: 25px;
  border-radius: 10px;
 }
 .ABOUT
 {
   color: #0000CD;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 50px;
   float: right !important;
   margin: 0;
 }
 .p-about
 {
   float: right;
   font-size: 30px;
   margin: 0;
 }
 .get-started-now
 {
   color: #fff;
   float: right;
   border: 1px solid blue;
   border-radius: 5px;
   position: relative;
   left: 700px;
   box-shadow: 3px 3px 3px #198cc2;
   font-size: 20px;
   text-align: center;
   background-color: #0000FF; 
   padding: 20px;
   margin: 15px;margin-top: 50px;
 }
 .get-started-now:hover
 {
   background-color: #0000CD;
 }
 .exchange-fiat-currencies.png
 {
   float: right;
   margin: 0;

 }
 .AUTOMATED
 {
   display: flex;
   width: 300px;
   height: 200px;
   float: right;
   text-align: justify;
   border-radius: 5px;
   box-shadow: 20px 20px 20px #198cc2;
 }
 .EASY
 {
  display: flex;
  width: 300px;
  height: 200px;
  float: right;
  text-align: justify;
  border-radius: 5px;
  box-shadow: 20px 20px 20px #198cc2;
 }
/* Style that will affect all <h3> tag */
  h3 {

    color: #351212;
    text-align: center;
    padding: 2px;
    margin: 25px;
  }
  /*style for all h4*/
  h4{
    color: #881612;
  }
  /*investment plans*/
#plan
{
  display: flex;
  align-content: center;
  justify-content: center;padding: 20px;
}
#plan div
{
  align-items: center;
  margin: 10px;
  width: 100%;
}
/*investment plan get started*/
.get-started
{
  text-align: center;
  background-color: #008000;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}
 
/* style div class="D" */

.D
{
  text-align: center;
  box-shadow: 3px 3px #f5f5f5;
  padding: 30px;
  margin: 25px;
  background-color: #f5fffA;
  color: #696969;
  font-size: 18px;
}
/* style <a> in para class */

  .para a{
    padding: 6px 8px 6px 16px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #778899;
    display: block;
    position: relative;
    right: 40px;
  }
 .para a:hover
 {
   color: blue;

 }

/* style all <i> tag */

  .para a i
  {
    color: #fff;
    font-size: 20px;
    margin: 5px;
  }
/* silver plan styles*/
.silver
{
border: 1px solid black;
width: 25%;
background: Silver;
padding: 10px;
margin: 5px;
text-align: center;
}

.silverth
{
width: 100%;
padding: 20px;
border: 1px solid silver;
background: silver;
text-align: center;
font-size: 20px;
}

.silvertd
{
border-radius: 10px;
padding: 15px;
background: #dcdcdc;
text-align: left
}
/* gold plan style*/
.gold
{
border: 1px solid black;
width: 25%;
background: goldenrod;
padding: 10px!important;
margin: 5px!important;
text-align: center;
}

.goldth
{
width: 100%;
padding: 20px;
border: 1px solid goldenrod;
background: goldenrod;
text-align: center;
font-size: 20px;
}

.goldtd
{
border-radius: 10px;
padding: 15px;
background: #ffffe0;
text-align: left;
}
/* diamond plan style*/
.diamond
{
border: 1px solid black;
width: 25%;
background: midnightblue;
padding: 10px;
margin: 5px;
text-align: center;
}
.diamondth
{
width: 100%;
padding: 20px;
border: 1px solid midnightblue;
background: midnightblue;
text-align: center;
font-size: 20px;
color: white;
}
.diamondtd{
border:1px solid black;
border-radius: 10px;
padding: 15px;
background: #e6e6fa;
text-align: left;
}
/* social media link style*/
.fa-facebook{
background: #3b5998;
color: white;
margin: 25px;
padding: 15px;
text-decoration: none;
border-radius: 50%;
}.fa-facebook:hover{background: #879df5;}
.fa-twitter{
background: #55acee;
color: white;
margin: 25px;
padding: 15px;
text-decoration: none;
border-radius: 50%;
}.fa-twitter:hover{background: #475075;}
.fa-linkedin{
background: #198cc2;
color: white;
margin: 25px;
padding: 15px;
text-decoration: none;
border-radius: 50%;
}.fa-linkedin:hover{background: #475075;}
.fa-instagram{
background: #7c2826;
color: rgb(245, 241, 241);
margin: 25px;
padding: 15px;
text-decoration: none;
border-radius: 50%;
}.fa-instagram:hover{background: #85504e;}
.media
{
    text-align: center;
}
#footer
{
  background-color: #a1a1fd;
  color: #fff ;
}
/* footer style*/
.footer-head
{
  text-align: center;
  text-decoration: none;
  font-family: courier new;
  padding-top: 0;
}
.copy
{
  text-align: center; 
  font-family: courier new;
}
.nav-link
{
  width: 100%; 
  font-variant: uppercase;
  font-size: 20px; 
  text-align: center;
  margin: 20px;
}
.btn .fa 
 {
    margin: 8px;
}
